.column-name {
  $root: &;

  position: relative;
  z-index: 50;

  border-bottom: 0;

  font-size: 12px;
  line-height: 1;

  cursor: pointer;

  &__name {
    margin-right: 16px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    border-bottom: 1px solid #cbd2d9;
    position: relative;
  }

  &:last-child {
    border-bottom: 0 !important;
    border-radius: 0 0 4px 4px;
  }

  &:hover {
    background-color: #efefef;
  }
}
