.react-flow {
  &__node-custom {
    border: 1px solid #555;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
  }
  &__edge.selected &__edge-path {
    stroke: #555 !important;
  }
  &__edge.selected &__edge-path {
    stroke: #555 !important;
    stroke-opacity: 50%;
  }
  &__node {
    max-width: 300px;
    background-color: #f5f7fa;
  }

  &__attribution a {
    background: none;
  }

  &__handle-left {
    border: 0 !important;
    background: transparent !important;
  }

  &__handle-right {
    border: 0 !important;
    background: transparent !important;
  }
}
