html {
  height: 100vh;
  width: 100vw;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.text-updater-node {
  height: 50px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
}

.text-updater-node label {
  display: block;
  color: #777;
  font-size: 12px;
  padding: 1em;
}

.left-handle {
  width: 2px;
  height: 2px;
  min-width: 2px;
  left: 0;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.right-handle {
  width: 2px;
  height: 2px;
  min-width: 2px;
  right: 0;
  top: 50%;
  transform: translateX(50%) translateY(-50%);
}

/* Handle */
.left-handle {
  width: 2px;
  height: 2px;
  min-width: 2px;
  left: 0;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.right-handle {
  width: 2px;
  height: 2px;
  min-width: 2px;
  right: 0;
  top: 50%;
  transform: translateX(50%) translateY(-50%);
}
/* Handle */

/* has-many-edge.scss */
.has-many-edge {
  /* https://reactflow.dev/docs/guides/theming/#react-flow-class-names */
  &.selected path.react-flow__edge-path {
    marker-end: url(#hasManySelected);
    stroke-width: 1.5;
  }

  &--highlighted {
    path.react-flow__edge-path,
    path.react-flow__edge-interaction,
    path.react-flow__connection-path {
      stroke: #2186eb !important;
      stroke-width: 1.5px;
    }
  }
}

.has-many-edge-reversed {
  &.selected path.react-flow__edge-path {
    marker-end: url(#hasManyReversedSelected);
    stroke-width: 1.5;
  }

  &--highlighted {
    path.react-flow__edge-path,
    path.react-flow__edge-interaction,
    path.react-flow__connection-path {
      stroke: #2186eb !important;
      stroke-width: 1.5px;
    }
  }
}
/* has-many-edge */


//
.key-icon {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

//

// rect-flow
.react-flow {
  &__node-custom {
    border: 1px solid #555;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
  }

  &__edge.selected &__edge-path {
    stroke: #2186EB !important;
  }

  &__node {
    max-width: 288px;

    background-color: #F5F7FA;
  }

  &__attribution a {
    background: none;
  }

  &__handle-left {
    border: 0 !important;

    background: transparent !important;
  }

  &__handle-right {
    border: 0 !important;

    background: transparent !important;
  }
}


// Table
.table {
  background-color: #FFF;

  &__name {
    position: relative;
    padding: 8px;

    border: 0;
    border-radius: 4px 4px 0 0;

    font-weight: bold;
    text-align: center;
  }

  &__columns {
    border: 1px solid #CBD2D9;
    border-top: 0;
    border-radius: 0 0 4px 4px;
  }

  &__description {
    display: none;
    position: absolute;
    top: 50%;
    right: -6px;
    width: 150px;
    transform: translateX(100%) translateY(-50%);
    padding: 8px;
    z-index: 1000;

    border: 1px solid #CBD2D9;
    border-radius: 4px;

    background-color: #FFF;

    font-weight: normal;
    text-align: left;

    &:after {
      position: absolute;
      top: 50%;
      right: 100%;
      transform: translateX(-0) translateY(-50%);

      border-width: 3px;
      border-style: solid;
      border-color: transparent #FFF transparent transparent;

      content: "";
    }

    &:before {
      position: absolute;
      top: 50%;
      right: 100%;
      transform: translateX(-0.5px) translateY(-50%);

      border-width: 4px;
      border-style: solid;
      border-color: transparent #CBD2D9 transparent transparent;

      content: "";
    }

    &--active {
      display: block;
    }
  }
}


/* Flow */
.Flow {
  width: 100%;
  height: 100%;

  flex-grow: 1;
  font-size: 12px;
}

:not(:root):fullscreen::backdrop {
  background-color: #fff;
}
/* Flow */
